@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Verdana, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner,
figure,
.img-wrapper {
  padding: 3px 0;

  border-top: 2px solid rgba(28, 14, 0, .6);
  border-bottom: 2px solid rgba(28, 14, 0, .6);
}

.wrapper {
  background-color: #fff;
}

h1 {
  color: #fff;
  text-shadow: 3px 3px rgb(28, 14, 0);
}

h1,
figcaption {
  font-family: Georgia, serif;
}

.link {
  color: #000;
}

.banner-content {
  top: 3px;

  background: linear-gradient(to bottom, rgba(28, 14, 0, .8), transparent) no-repeat center bottom;
}

body {
  background: url("../images/sloth-bg.svg") left top / 48px repeat #bea586;
}
